body {
    margin: 0;
    font-family: "Roboto";
}


/* Font and background colors */
.logo, .hero, button, .image, .call { 
    color: white;}

 .box, button {
    background-color: #3882F6;}

.back, .footer {
    background-color: #1F2739;
}

/* Header and top section of website */
.back {
    display: flex;
    justify-content: center;
    padding: 5px 0 20px;
}

.comb {
    display: flex;
    width: 1050px;
    flex-direction: column;
}

.top, .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top {
    padding: 100px 0;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.714);
}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.bottext {
    color: rgba(255, 255, 255, 0.714);
    font-size: 18px;
    margin-bottom: 5px;
}

button { 
    padding: 7px 34px;
    border-radius: 10px;
    font-size: 16px;
}

.first {
    border-style: none;
}

.image {
    padding: 100px 120px;
    background-color: rgb(144, 143, 153);
    font-size: 18px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 450px;
    gap: 5px;
}

/* Information and boxes section */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    padding-top: 50px;
}

.title {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    justify-content: center;
    margin-bottom: 50px;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
}

.box {
    width: 155px;
    height: 155px;
    border-color: #3882F6;
    background-color: white;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
    flex-shrink: 0;
}

.subtext {
    color: gray;
    font-size: 19px;
    margin: 10px;
}


/* Quote section */
.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 90px;
}

.container {
    width: 780px;
}

.words {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
}

.thor {
    display: flex;
    justify-content: end;
    padding: 0 45px;
    font-size: 22px;
    font-weight: bold;
}

/* Call to action section */
.bottom {
    display: flex;
    margin: 100px;
    justify-content: center;
    align-items: center;
}

.second {
    border-color: white;
    border-style: solid;
}

.container2 { 
    display: flex;
    background-color: #3882F6;
    width: 700px;
    padding: 45px 120px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: start; }

.call {
    font-size: 22px;
    font-weight: 900;
}

.action {
    color: rgba(255, 255, 255, 0.6);
}

/* Footer section */
.footer {
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.714);
    font-size: 18px;
}

/* Font information */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  